@import "../../css/constant.scss";

.Question {
  padding: 1em 0px;
  border-bottom: 1px $colorGradientGray;
}

.try-code-page {
  background: #f5f5f5;
  min-height: 400px;
  display: flex;
}

.questionDetailsScreen {
  margin: 5px;
  padding: 5px;
}

.codeButtons {
  color: white !important;
  border: 0px !important;
}
.code-template {
  border-left: 1px solid #c2c7d0;
  border-right: 1px solid #c2c7d0;
  background-color: #f8f8f8;
  padding: 5px 15px;
}

.code-label {
  font-weight: 600;
  font-size: 14px;
}
.code-editor {
  line-height: 1em;
  font-size: 14px;
}
.consoleOutput {
  display: flex;
  padding: 5px;
  margin: 5px;
}

.console {
  padding: 5px;
  margin: 5px;
  overflow-x: auto;
  border-width: 1px;
  border-style: solid;
  border-color: rgb(238, 238, 238);
  border-image: initial;
  border-radius: 3px;
  background: rgb(250, 250, 250);
  min-height: 100px;
}

.resultConsole {
  padding: 5px;
  margin: 5px;
  overflow-x: auto;
  border-width: 1px;
  border-style: solid;
  border-color: rgb(238, 238, 238);
  border-image: initial;
  border-radius: 3px;
  background: rgb(250, 250, 250);
  min-height: 50px;
}

.rightPanel {
  flex-grow: 2;
  display: flex;
}

.actionButton {
  display: flex;
  justify-content: flex-end;
  margin-top: 10px;
}

.runAlign {
  margin: 0 10px;
}

.selectionPanel {
  display: flex;
  justify-content: space-between;
}

.selectionDropdowns {
  padding-right: 9px;
  width: 100%;
}

.scrollStyle {
  max-height: 791px;
  overflow-y: overlay;
}

.resetCode {
  display: flex;
  justify-content: center;
  align-items: center;
}
