<html>
  <style>
    .recentSearch {
      width: 50%;
      display: flex;
      flex-direction: column;
      background-color: DodgerBlue;
    }

    .recentSearch > div {
      background-color: #f1f1f1;
      margin: 5px;
      text-align: left;
      line-height: 45px;
      font-size: 20px;
    }
  </style>
  <body>
    <div>
      <div style="display: inline">
        <label for="fname">Search Flight:</label>
      </div>
      <div style="display: inline">
        <input id="flight_input" type="text" onkeydown="save()" />
        <div id="search-list" style="margin-left: 7%;"></div>
      </div>
    </div>

    <div id="recent-search">
      <h2>Recent Search</h2>
      <div id="recent-search-list" class="recentSearch"></div>
    </div>
    <script>
      // function will execute where there is more delay between two event
      localStorage.setItem("clickTime", "[]");

      const saveToLocalStorageAfterDelay = (saveToLocalStorage, delay) => {
        let timeoutFunc;
        return function() {
          clearTimeout(timeoutFunc);
          timeoutFunc = setTimeout(() => {
            getFlights();
          }, delay);
        };
      };

      async function getFlights() {
        let query = document.getElementById("flight_input").value;
        let url = `https://voyager.goibibo.com/api/v2/flights_search/find_node_by_name_v2/?limit=15&search_query=${query}&v=2`;
        try {
          let response = await fetch(url);
          let data = await response.json();

          let html = "";
          let f_data = data.data.r;
          f_data.forEach(flight => {
            html += `<div><button onclick="saveToLocalStorage('${flight.n}')"> ${flight.n}</button></div>`;
          });

          document.getElementById("search-list").innerHTML = html;
        } catch (e) {
          console.log(e);
          alert("eror in fetching api");
          document.getElementById("search-list").innerHTML = "";
        }
      }

      const saveToLocalStorage = data => {
        let dataArray = JSON.parse(localStorage.getItem("recent")) || [];
        dataArray.unshift(data);
        localStorage.setItem("recent", JSON.stringify(dataArray));
        let html = "";
        dataArray.forEach(data => {
          html += `<div> ${data}</div>`;
        });

        document.getElementById("recent-search-list").innerHTML = html;
      };

      function addRecentOnpageLoad() {
        let dataArray = JSON.parse(localStorage.getItem("recent")) || [];
        let html = "";
        dataArray.forEach(data => {
          html += `<div> ${data}</div>`;
        });

        document.getElementById("recent-search-list").innerHTML = html;
      }
      addRecentOnpageLoad();

      let delayTime = 1 * 1000;
      let save = saveToLocalStorageAfterDelay(saveToLocalStorage, delayTime);
    </script>
  </body>
</html>
