@import "./constant.scss";

body {
  margin: 0px;
  background: $colorWhite;
  font-size: 1rem;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  font-weight: 400;
}

a {
  color: $colorBlack;
  text-decoration: none;
}

.footer {
  position: fixed;
  bottom: 0px;
  left: 0px;
  right: 0px;
  overflow: hidden;
  text-align: center;
  background-color: $colorBlack;
  color: $colorWhite;
  z-index: 10;
}

.content {
  padding: 10px;
  margin: 10px;
}

.displayNone {
  display: none;
}

.backgroundGrey {
  background-color: $colorGrey !important;
}
